/* 
  Titel: Senmarck Schweiz
  Version: 2.0
  Autor: Ivo Schwizer - Schwizer Design GmbH
*/

:root {
  --senmarck-blue: #3A5BA7;
  --senmarck-light-gray: #F5F5F5;
  --senmarck-dark-gray: #d4d4d4;
  --senmarck-dark: #4B4F57;
  --senmarck-green: #8FD46E;

  --fonttitle: 45px;
  --fontsubtitle: 30px;
  --fonttext: 21px;
  --fontsmall: 18px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


/*----------------------------------
  Font
-----------------------------------*/

h1, h2, h3, h4, p, a, li, button, label, input, select, th, td {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Gewicht für Überschriften */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: var(--fonttext);
  color: var(--senmarck-blue);
  letter-spacing: 0px;
  line-height: 1.4;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  /* hyphens: auto;
  hyphenate-limit-chars: auto 5;
  hyphenate-limit-lines: 4;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-chars: auto 5;
  -webkit-hyphenate-limit-lines: 4;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: auto 5;
  -ms-hyphenate-limit-lines: 4;  */
}

h1 {
  font-weight: 400;
  font-size: var(--fonttitle);
}

nav h1 {
  color: var(--senmarck-blue);
  margin: 0;
}

h3 {
  font-weight: 700;
  margin-bottom: 5px;
}

p {
  margin-top: 0px;
}

button,
a.button-link {
  background-color: white;
  border: 1px solid var(--senmarck-blue);
  color: var(--senmarck-blue);
  font-size: var(--fonttext);
  line-height: 1;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin: 0;
  padding: 15px 30px;
  border-radius: 50px;
  transition: padding 0.3s ease;
}
a.ekbtn {
  display: inline-block;
  margin-top: 30px
}


button:hover,
a.button-link:hover {
  padding: 15px 40px;
}

button.bluebtn, a.bluebtn {
  background-color: var(--senmarck-blue);
  color: white;
}

.footercopy p, 
.footercopy a  {
  font-size: var(--fontsmall);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 24
}
span.material-symbols-outlined {
  color: #3A5BA7;
  font-size: 60px;
}

.small {
  text-align: center;
  font-size: var(--fontsmall);
}

/*----------------------------------
  Basic
-----------------------------------*/

section {
  width: 100%;
  text-align: center;
}
section .full {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 80px 100px 0;
  text-align: center;
}
.grid {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 80px 100px 0;
}

section.es {
  margin-top: 50px;
  padding: 100px 0 0;
  background-color: var(--senmarck-light-gray);
  transition: background-color 0.5s ease;
}

section h1,
section h2 {
  text-align: center;
}

.content-container h1 {
  margin-bottom: 30px;
}
.content-container h2 {
  margin: 0 120px;
}

.m-top {
  margin-top: 75px;
}
.scroll-lock {
  overflow: hidden;
}
/*----------------------------------
  Nav
-----------------------------------*/

nav {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  transition: top 0.5s ease-in-out;
}

nav button,
nav a.button-link {
  font-size: var(--fontsmall);
  padding: 10px 20px;
  border-radius: 10px;
}

nav button:hover,
nav a.button-link:hover {
  padding: 10px 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  max-width: 1800px;
  margin: 0 auto;
  padding: 50px;
  padding-bottom: 20px;
}

.navcontainer-mobile {
  display: flex;
}

.navcontainer button {
  margin: 0;
}
.navcontainer button.kontakt {
  border-radius: 10px 0 0 10px;
  border-right: 0px;
}
.navcontainer button.technik {
  border-radius: 0;
  border-right: 0px;
}
.navcontainer a.kalkulator {
  border-radius: 0px 10px 10px 0px;
  background-color: var(--senmarck-blue);
  border: 1px solid var(--senmarck-blue);
  color: white;
}
.navcontainer a.start {
  border-radius: 10px;
  background-color: var(--senmarck-blue);
  border: 1px solid var(--senmarck-blue);
  color: white;
}


/* nav responsive */
#navburger {
  display: none;
  width: 30px;
  height: 25px;
  position: absolute;
  right: 50px;
  cursor: pointer;
}

#navburger span {
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: var(--senmarck-blue);
  transform: rotate(0deg);
  transition: transform 0.25s ease-in-out;
}
#navburger span:nth-child(1),#navburger span:nth-child(4) {
  transition: opacity 0.2s ease-in-out;
}

#navburger span:nth-child(1) {
    top: 0px;
}
#navburger span:nth-child(2),
#navburger span:nth-child(3) {
    top: 10px;
}
#navburger span:nth-child(4) {
    top: 20px;
}
#navburger.open span:nth-child(2) {
  transform: rotate(45deg);
}
#navburger.open span:nth-child(3) {
  transform: rotate(-45deg);
}
#navburger.open span:nth-child(1),
#navburger.open span:nth-child(4) {
    opacity: 0;
}


/*----------------------------------
Header
-----------------------------------*/

header {
  width: 100%;
  display: flex;
  position: relative;
  height: calc(100vh - 150px);
  flex-direction: column;
  margin-top: 150px;
}
.header-container {
  position: relative;
  z-index: 3;
  margin: 0 auto;
  padding: 0 100px;
  width: 100%;
  max-width: 1800px;
}
.battery-container {
  position: absolute;
  z-index: 3;
  right: 15%;
  bottom: 0;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.battery-container img {
  height: calc(100vh - 150px);
  display: flex;
}

#fullscreen-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#background-picture, #overlay-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

#background-picture img, #overlay-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#overlay-picture {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay-image {
  width: 50%; /* Adjust this to your needs */
  height: auto;
}


/*----------------------------------
  Box
-----------------------------------*/
.boxes-all {
  display: flex;
  gap: 30px;
  padding: 100px 0 50px;
}
.boxes-all.fix {
  padding: 40px 0 70px;
}
.boxes-all-plus {
  display: flex;
  gap: 30px;
  padding: 75px 0 50px;
  text-align: left;
}
.boxes-all-plus h3 {
  font-size: var(--fontsubtitle);
  font-weight: 500;
}
.boxes-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.box-container {
  background-color: var(--senmarck-light-gray);
  overflow: hidden;
  border-radius: 20px;
  padding: 15px 40px 0px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.box-container-team {
  background-color: var(--senmarck-light-gray);
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.box-partner {
  padding: 40px 100px;
}

.box-container h1 {margin-bottom: 20px;}
.box-container h2 {margin: 0;}
.box-container p {margin-bottom: 50px;}
.box-container.fix p {margin-bottom: 30px;}

.box-container.dark {background-color: #585d67;}
.box-container.dark h3, .box-container.dark p  {color: white;}

.box-container-partner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  margin: 60px 0;
}
.box-container-partner img {
  width: 100%;
}

.box-container-product {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: 30px;
  margin: 90px 0 60px;
}

.box-container-product .more-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px; 
}
.box-container-product h3 {
  text-align: center;
  font-size: var(--fontsubtitle);
  font-weight: 400;
}
.box-container-product img {
  width: 50%;
}
.box-container-product a {
  text-align: center;
}

.box-image-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.box-image-container-team {
 background: var(--senmarck-dark);
 display: flex;
}
.box-image-container-team img {
  padding: 30px 30px 0px;
 }
.contact-kalkulator{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  border-radius: 20px;
  height: 310px;
  background-color: var(--senmarck-dark);
}
.box-image {
  width: 85%;
}
.box-image.fix {
  width: 100%;
}
.box-icon {
  height: 250px;
  padding: 0px 0 50px 0;
}
.schweizer-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
}

/* plusbutton */
.plus-container {
  padding-top: 20px;
}
.plus-button {
  display: flex;
  height: 36px;
  width: 36px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 30px;
  font-weight: 300;
  margin-top: 10px;
}
.plus-button span {
  transition: transform 0.3s ease;
}

.plus-button:hover {
  padding: 0px;
  opacity: 0.5;
}

.plus-button.onimg {
  font-size: 40px;
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 25px);
}

.rotate {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

/* morebutton */

.hidden {
  display: none;
}
.visible {
  display: block;
}
.more-container {
  padding: 20px 0;
}

.more-container-inside {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding-bottom: 20px;
}

.more-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.more-box h3{
  margin: 15px 0 10px;
}
.box-team {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  padding: 0px 30px 20px;
}
.box-team-image {
  width: 100%;
}

.box-team p {
  margin: 0;
}
.box-team img {
  width: 40px;
}

/*----------------------------------
  Energiesystem
-----------------------------------*/
.energysystem {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.es-container-title {
  display: flex;
  padding: 0 100px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.es-container-title h1,
.es-container-title h2 {
  margin: 0;
  padding: 0 100px;
}

.es-container-system {
  padding: 50px 100px 0px;
  transition: background-color 0.5s ease;
}

.es-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.es-battery-picture {
  position: relative;
  z-index: 2;
}
.es-battery-picture img {
  height: 1100px;
  display: flex;
}

.es-box-cont {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.es-box-cont.left {
  left: 0;
  top: 0;
}
.es-box-cont.right {
  right: 0;
  top: 0;
}

.es-box   {
  background-color: #ededed;
  border: 1px solid var(--senmarck-dark-gray);
  border-radius: 20px;
  padding: 20px;
  margin: 0;
  width: 250px;
  transition: background-color 0.3s ease;
}
.es-box p { 
  background-color: white;
  border: 2px solid white;
  border-radius: 15px;
  font-size: var(--fontsubtitle);
  width: 100%;
  padding: 15px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
} 
.es-box h3 { 
  color: #888888;
  font-weight: 400;
  text-align: left;
  padding-bottom: 10px; 
} 
.es-box-icon {
  background-color: white;
  border: 2px solid white;
  border-radius: 15px;
  padding: 15px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.es-box-icon span {
  font-size: 60px;
}
.yellow span, .yellow p { color: #ffc800; }
.green span, .green p { color: #84CF60; }
.gray span, .gray p { color: #b1b1b1; }
.red span, .red p { color: #FA8575; }


.animated-number span {
  padding-left: 8px;
}
/* button day night */
#daynightbtn {
  transition: background-color 0.5s ease, color 0.3s ease, padding 0.3s ease;
  background-color: #ffc800;
  border: 1px solid #ffc800;
}
#daynightbtn span {
  color: white;
}
#daynightbtn:hover {
  padding: 15px 50px;
}
.night-mode #daynightbtn {background-color: var(--senmarck-dark); border: 1px #b1b1b1 solid;}
.night-mode #daynightbtn span {color: #ffc800;}

.night-mode .daynight {background-color: var(--senmarck-dark);}
.night-mode .es-box {background-color: var(--senmarck-dark); border: 1px solid #b1b1b1;}
.night-mode .es-box-icon, .night-mode .es-box p {background-color: transparent; border: 1px solid #b1b1b1;}
.night-mode .daynight h1, .night-mode .daynight h2 {color: #888888;}

/* lines */
.line-container {
  position: absolute;
  width: 50%;
  z-index: 1;
}
.line-container.solar {
  left: 50px;
  top: 100px;
}
.line-container.battery {
  left: 50px;
  top: 45%;
}
.line-container.stromnetz {
  right: 50px;
  top: 100px;
}
.line-container.home {
  right: 50px;
  top: 45%;
}
.line {
  fill:none;
  stroke:#000000;
  stroke-miterlimit:10;
  stroke-dasharray: 7;
  stroke-dashoffset: 0;
  stroke-width: 2px;
}

.line.solar {
  stroke:#FFB800;
  animation: solar 1s linear infinite;
}
.line.battery {
  stroke:#84CF60;
  animation: battery 1s linear infinite;
}
.line.stromnetz {
  stroke:#b1b1b1;
  animation: solar 1s linear infinite;
}
.line.home {
  stroke:#FA8575;
  animation: solar 1s linear infinite;
}
.night-mode .line.solar {animation: solar-night 0.5s linear infinite;}
.night-mode .line.battery {animation: battery-night 0.5s linear infinite;}
.night-mode .line.stromnetz {animation: solar-night 0.5s linear infinite;}

@keyframes solar {to {stroke-dashoffset: -14;}}
@keyframes solar-night {to {stroke-dashoffset: 0;}}
@keyframes battery {to {stroke-dashoffset: 14;}}
@keyframes battery-night {to {stroke-dashoffset: -14;}}

/*----------------------------------
  Invest
-----------------------------------*/
.invest-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('img/senmarck-energiespeichersystem-investerra-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.invest-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .invest-mobil {
  padding: 30px 100px 100px;
}
.invest-inside h1,
.invest-inside p {
  color: #2b453f;
}
.invest-inside h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  line-height: 1;
  margin-top: 0;
}
.invest-cont {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 50px 120px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invest-link {
  position: absolute;
  bottom: -25px;
  display: flex;
  gap: 15px;
}

a.investbtn {
  background-color: #ff5d05;
  border: 1px solid #ff5d05;
  color: white;
}
a.investbtn.cta {
  background-color:white;
  color: #ff5d05;
}
.investerra-link {
  position: absolute;
  bottom: 40px;
  right: 50px;
}

/*----------------------------------
  Support
-----------------------------------*/
.support-container {
  padding-bottom: 0;
  position: relative;
  background-color: var(--senmarck-dark);
}
.support-inside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 80px;
}
.support-contact {
  padding-bottom: 40px;
}
.support {
  text-align: left;
  display: flex;
  gap: 15px;
}
.support a {
  font-weight: 700;
  font-size: var(--fontsubtitle);
}
.support-team {
  display: flex;
  align-items: flex-end;
  justify-content: center;

}
.support-container p,
.support-container h1,
.support-container a,
.support-container span {
  color: white;
}

/*----------------------------------
  Accordion
-----------------------------------*/

.accordion-container {
  padding: 25px 0;
}
.accordion h3 {
  color: var(--senmarck-blue);
  cursor: pointer;
  padding: 15px;
  margin: 0;
  border: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--senmarck-blue);
  font-weight: 500;
}

.panel {
  padding: 40px 15px 20px;
  display: none;
  text-align: left;
  border-bottom: 1px solid var(--senmarck-blue);
}

.arrow {
  transition: transform 0.7s ease;
}

.spin {
  transform: rotate(-180deg);
}

.discover-button {
  text-align: center;
  margin: 20px 0;
}

/*----------------------------------
  Technik
-----------------------------------*/

.technik-container {
  background-color: var(--senmarck-blue);
  padding-bottom: 75px;
}
.technik-container h1,
.technik-container h3,
.technik-container p,
.technik-container span,
.technik-container a
 {
  color: white;
}
.technik-container .accordion h3,
.technik-container .accordion .panel {
  border-bottom: 1px solid white;
}
.technik-container .accordion .panel {
  padding: 0;
}
.panel ul{
  padding: 0;
  margin: 0;
}
.panel li {
  padding: 20px 15px;
  border-bottom: 1px solid white;
  transition: background-color 0.3s ease;
}
.panel li:last-child {
  border-bottom: none;
}
.panel li:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

/*----------------------------------
  Energy-Kalkulator
-----------------------------------*/

.ek-container {
  width: 100%;
  max-width: 1800px;
  min-height: 50vh;
  margin: 180px auto 50px;
  padding: 0px 100px 0;
  text-align: left;
}

.ek-container h2 {
  margin-bottom: 40px;
}

.input-container {
  display: block;
}

.contact-container,
#content-container {
  display: none;
}

.input-container,
.contact-container,
#content-container {
  text-align: left;
  width: 100%;
}

.input-container input,
.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--senmarck-dark-gray);
  border-radius: 5px;
  font-size: var(--fonttext);
}
.es-grid-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.es-grid {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 10px;
}

.input-container select{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: var(--fonttext);
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input-container button,
.contact-container button {
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  font-size: 14px;
  border: 1px solid;
}

input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  text-align: left;
}

.yellow-bg {
  background-color: #ffffcc;
}

.total-row {
  font-weight: bold;
  background-color: #f2f2f2;
}

.unit {
  margin-left: 5px;
}

.checkbox-container {
  text-align: left;
  margin: 20px 0;
  gap: 10px;
  display: flex;
  align-items: center;
}

.checkbox-container input {
  width: 30px;
  height: 30px;
  border: 1px solid var(--senmarck-dark-gray);
}

.checkbox-container label {
  display: inline-block;
  margin-left: 5px;
}
.d-link {
  text-decoration: underline;
}
.error {
  display: none;
  color: red;
  font-size: 16px;
}

/* Ergebnis */
.tableoutside {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.tableinside {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--senmarck-light-gray);
  padding: 40px 40px;
  border-radius: 30px;
}

.tableinside h2 {
  font-weight: 700;
  margin: 0;
  padding-left: 5px;
  font-size: var(--fontsubtitle);
}

.tableinside p {
  font-size: var(--fontsmall);
  margin: 0;
  padding-left: 5px;
  padding: 20px 0 10px 5px ;
  font-weight: 600;
}

.tableinside input {
  padding: 10px;
}

#werte-tabelle {
  display: none;
}
.contact-section {
 margin-top: 75px;
}
.contact-card-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.contact-card img {
width: 300px;
border-radius: 20px;
}
.contact-info p {
margin-bottom: 5px;
}
/* Custom-selector */
.custom-select-wrapper {
  position: relative;
}

.custom-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
  padding-right: 40px; /* Platz für das Icon */
}

.custom-select-wrapper::after {
  content: 'keyboard_arrow_down';
  font-family: 'Material Symbols Outlined';
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 24px;
  color: #5f6368;
  transform: translateY(-50%);
  pointer-events: none;
}

/*----------------------------------
  Popup-Styling
-----------------------------------*/

.popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  position: relative;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  height: 80%;
}

.close-btn {
  position: absolute;
  background-color: var(--senmarck-blue);
  color: white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 10px;
  top: -30px;
  right: -30px;
  font-size: 25px;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 100%;
}

/*----------------------------------
  Footer
-----------------------------------*/

footer {
  position: relative;
  background-color: var(--senmarck-blue);
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  width: 100%;
  max-width: 1800px;
  padding: 50px 100px;  
}

footer a,
footer li,
footer p {
  color: white;
  font-size: var(--fontsmall); 
  line-height: 1.6;
}
footer .kontakt {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  padding: 0 15px;
}
footer .kontakt div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
footer .kontakt div.adress {
  display: flex;
  flex-direction: row;
  gap: 50px;
  
}

footer ul {
  padding: 0;
  margin: 0;
}

.footercopy {
  border-top: 1px solid white;
  padding: 15px 15px 0;
}


/*----------------------------------
    Impressum Datenschutz
-----------------------------------*/
.datenschutz {
  margin: 75px 0 50px;
}
.datenschutz h1,
.datenschutz h2,
.datenschutz h3,
.datenschutz p,
.datenschutz ul {
text-align: left;
}

.datenschutz h2{
  font-size: var(--fontsubtitle);
}
.datenschutz p,
.datenschutz li,
.datenschutz a {
  font-size: var(--fontsmall);
}

.datenschutz ul {
 padding: 0;
 }

/*----------------------------------
    Cookiebanner
-----------------------------------*/

#cookiebanner {
  position: fixed;
  bottom: -300px;
  right: 40px;
  border-radius: 10px;
  width: 420px;
  background-color: white;
  padding: 20px 30px;
  z-index: 9999;
  transition: bottom 0.5s cubic-bezier(0.2, 0.8, 0.3, 2);
}

#cookiebanner p {
  color: var(--senmarck-blue);
  font-size: 20px;
  margin: 0 0 25px;
  line-height: 1.4;
}

#cookiebanner.visible {
  bottom: 40px;
}

.buttonC {
  display: flex;
  gap: 10px;
}

#declineBtn, #acceptBtn {
  border-radius: 50px;
  padding: 15px 20px;
  margin: 0;
}

#declineBtn {
  background:none;
  border: 1px solid var(--senmarck-blue); 
  color: var(--senmarck-blue);
}

#acceptBtn {
  border: none;
  background: var(--senmarck-blue);
  color: white;
}

#acceptBtn:hover,
#declineBtn:hover {
  transition: padding 0.3s ease, background-color 0.3s ease;
}

/*----------------------------------
  Responsiv
-----------------------------------*/
@media (max-width: 1400px) {

  /* daynight */
  section.es {padding-top: 40px;}
  .es-container-title {padding: 0;}
  .es-container-system {padding:40px 0px 0px ;}

  /* Bild */
  .box-image.fix {width: 120%;}
}

@media (max-width: 1220px) {
  /* root */
  :root {
    --fonttitle: 38px;
    --fontsubtitle: 28px;
    --fonttext: 20px;
    --fontsmall: 16px;
  }
  /* header */
  .battery-container {
    right: 10%;
  }
  /* base */
  .grid {padding: 80px 50px 0;}
  .content-container h2 {margin: 0 30px;}
  section .full, .footer-container {padding: 80px 50px 0;}
  /* Bild */
  .box-image.fix {width: 140%;}
  
  /* daynight */
  .es-container-title h1, .es-container-title h2 {padding: 0 30px;}
  .es-box {width: 180px;}
  .es-battery-picture img {height: 900px;}
  .es-box h3 {margin-top: 15px; padding-bottom: 5px;}
  .es-box p {padding: 10px; font-size: var(--fonttext);}
  
  /* partner */
  .box-container-partner img {width: 90%;}

  /* invest */
  .invest-inside h1 {font-size: 60px;}
  section .invest-mobil {padding: 0px 50px 50px;}
  .invest-cont {padding: 40px 50px;}

  /* kalkulator */
  .ek-container {margin: 80px auto 50px;}
}


@media (max-width: 1010px) {
  /* root */
  :root {
    --fonttitle: 38px;
    --fontsubtitle: 28px;
    --fonttext: 20px;
    --fontsmall: 16px;
  }
  /* header */
  .battery-container {
    height: 60vh;
  }
  .battery-container img {
    width: 250px;
    height: auto;
  }

  /* Bild */
  .box-image.fix {width: 160%;}

  /* partner */
  .box-container-partner img {width: 80%;}
  .box-container-partner {margin: 50px 0;}

  /* invest */
  .invest-inside h1 {font-size: 50px;}

  /* support */
  .support-team.first {display: none;}

  /* box */
  .boxes-all.fix {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  /* root */
  :root {
    --fonttitle: 30px;
    --fontsubtitle: 24px;
    --fonttext: 18px;
    --fontsmall: 14px;
  }
  /* nav */
  .nav {padding: 30px 30px 20px;}
  .homebutton img {width: 200px;}
  .navcontainer {display: none;}
  #navburger {display: block; right: 30px;}
  .navcontainer {
    position: absolute;
    right: 0;
    top: 100px;
    background:white;
    width: 100%;
    padding: 30px;
  }
  .navcontainer-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
  .navcontainer-mobile button.technik,
  .navcontainer-mobile button.kontakt,
  .navcontainer-mobile a.kalkulator{
    border-radius: 10px;
    border-right: 1px solid;
    display: block;
    width: 250px;
    text-align: left;
  }
  /* base */
  .grid {padding: 50px 30px 0;}
  .content-container h2 {margin: 0 10px;}
  span.material-symbols-outlined {font-size: 50px;}
  section .full {padding: 50px 30px 0;}
  .footer-container {padding: 50px 30px 20px;}

   /* invest */
   .invest-cont {flex-direction: column; padding: 30px;}
   .invest-link {
    position: relative; 
    flex-direction: column;
    bottom: 0;
    gap: 10px;
  }
  .invest-inside p {margin-bottom: 30px;}
  .invest-inside h1 {font-size: 40px;}
  section .invest-mobil {padding: 0px 50px 50px;}
  .investerra-link img {height: 30px;}

  /* accordion */
  .accordion h3 {padding: 10px;}
  
  /* daynight */
  .es-battery-picture img {height: 750px;}
  .es-box-icon {height: 50px; width: 50px;}
  .es-box-icon span {font-size: 40px;}

  /* header */
  header {margin-top: 110px; height: calc(100vh - 110px);}
  .header-container {padding: 0 30px;}

  /* box */
  .box-container {padding: 15px 25px 0px 25px;}
  .box-icon {height: 200px;}

  /* partner */
  .box-container-partner {margin: 40px 0;}

  /* kalk */
  .nav-mobil-kalk {
    display: block;
    display: block;
    position: relative;
    right: 0;
    top: 0;
    padding: 0;
  }
  .es-grid-container {flex-direction: column; gap: 10px;}
  .es-grid {width: 100%;}
  .tableoutside {flex-direction: column}
  .tableinside {padding: 30px;}
  .contact-card-container {flex-direction: column; align-items: flex-start;}

  /* cookie */
  #cookiebanner {
    right: 30px;
    width: calc(100% - 60px);
  }
  #cookiebanner p,
  #cookiebanner button {
    font-size: 18px;
  }
}

  @media (max-width: 700px) {
  
  /* responsiv */
  .boxes-all, .box-container-partner {flex-direction: column;}
  .plus-button.onimg {display: none;}
  .more-container-inside {flex-direction: column; gap: 15px;}
  .more-mobile {display: none;}
  .box-container-product {flex-direction: column; gap: 60px;}
  /* Bild */
  .box-image.fix {width: 100%;}

  /* daynight */
  .es-battery-picture img {height: 700px;}
  .es-box-cont.left, .es-box-cont.right  {top: 30px;}
  .es-box {background-color: #edededc2; width:140px; padding: 15px;}
  .night-mode .es-box {background-color: #4b4f578c;}
  .line-container {display: none;}
  .es-box h3 {margin-top: 10px;}
  .es-box p {padding: 7px;}
  /* invest */
  .invest-container {height: 120vh;}
  section .invest-mobil {padding: 0px 30px 30px;}
  .invest-inside h1 {font-size: 32px;}
  /* support */
  .support-inside {flex-direction: column; align-items: center;margin-top: 40px;}
  .support-contact {padding-bottom: 10px}
  /* footer */
  footer .kontakt {flex-direction: column;}
  footer .kontakt div.adress {flex-direction: column; gap: 30px;}
  .footer-container {padding: 50px 30px 20px;}  
}

  @media (max-width: 400px) {
  /* root */
  :root {
    --fonttitle: 28px;
    --fontsubtitle: 22px;
    --fonttext: 18px;
    --fontsmall: 14px;
  }
  .battery-container img {width: 150px;}
  .boxes-all {padding: 80px 0 30px;}
  .invest-container {height: 100vh;}
  .footercopy span {display: block;}
}